<div class="footer-container">

  <div class="menu-list-container">
    <ul class="doors">
      <li class="door01">
        <a href="#">ノックをする</a>
      </li>
      <li class="door02">
        <a href="#">たからばこ</a>
      </li>
      <li class="door03">
        <a href="#">ろくおん部屋</a>
      </li>
    </ul>
  </div>

</div>